################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Task 6.6/x64/Debug
/x64/Debug
/.vs/Task 6.6/v17/ipch/AutoPCH/951c5953c36cbb41
/.vs
